<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string></string>
	</array>
	<key>Privacy – Microphone Usage Description</key>
	<string>we need the mic to hear your commands</string>
</dict>
</plist>
